<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quản lý học bạ sinh viên</title>
    <link rel="shortcut icon" type="image/png" href="~/assets/images/Logo_NTU.png" />
    <link rel="stylesheet" href="~/assets/css/styles.min.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />

    <!-- Load jQuery trước -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Load jQuery Validate sau khi jQuery đã có -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>

</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Sidebar Start -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div>
                <div class="brand-logo d-flex align-items-center">
                    <a href="#" class="text-nowrap logo-img d-flex align-items-center">
                        <img src="~/assets/images/Logo_NTU.png" alt="" width="50" style="border-radius: 50%; object-fit: cover;" />
                        <span style="font-size: 16px; font-weight: bold; color: darkblue;margin-left: 5px">ĐẠI HỌC NHA TRANG</span>
                    </a>
                    <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                        <i class="ti ti-x fs-8"></i>
                    </div>
                </div>


                <!-- Sidebar navigation-->
                <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                    <ul id="sidebarnav">
                        @* <p>Các quyền bạn đang có:</p> *@
                        @* <ul> *@
                        @*     @foreach (var c in User.Claims.Where(c => c.Type == System.Security.Claims.ClaimTypes.Role)) *@
                        @*     { *@
                        @*         <li>@c.Value</li> *@
                        @*     } *@
                        @* </ul> *@


                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-6"></i>
                            <span class="hide-menu">Quản lý hồ sơ</span>
                        </li>
                        
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-action="Index" asp-controller="Khoa" aria-expanded="false">
                                <span>
                                    <iconify-icon icon="solar:layers-minimalistic-bold-duotone" class="fs-6"></iconify-icon>
                                </span>
                                <span class="hide-menu">Quản lý Khoa</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-action="Index" asp-controller="Bomon" aria-expanded="false">
                                <span>
                                    <iconify-icon icon="solar:layers-minimalistic-bold-duotone" class="fs-6"></iconify-icon>
                                </span>
                                <span class="hide-menu">Quản lý Bộ môn</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-action="Index" asp-controller="Giangvien" aria-expanded="false">
                                <span>
                                    <iconify-icon icon="solar:home-smile-bold-duotone" class="fs-6"></iconify-icon>
                                </span>
                                <span class="hide-menu">Quản lý Giảng viên</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="" asp-action="Index" asp-controller="Sinhvien" aria-expanded="false">
                                <span>
                                    <iconify-icon icon="solar:layers-minimalistic-bold-duotone" class="fs-6"></iconify-icon>
                                </span>
                                <span class="hide-menu">Quản lý Sinh viên</span>
                            </a>
                        </li>

                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-6"></i>
                            <span class="hide-menu">Đào tạo - Giảng dạy</span>
                        </li>
                        
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-action="Index" asp-controller="Ctdt" aria-expanded="false">
                                <span>
                                    <iconify-icon icon="solar:danger-circle-bold-duotone" class="fs-6"></iconify-icon>
                                </span>
                                <span class="hide-menu">Quản lý CTĐT</span>
                            </a>
                        </li>
                        @* <li class="sidebar-item"> *@
                        @*     <a class="sidebar-link" asp-action="Index" asp-controller="ChiTietCtdt" aria-expanded="false"> *@
                        @*         <span> *@
                        @*             <iconify-icon icon="solar:danger-circle-bold-duotone" class="fs-6"></iconify-icon> *@
                        @*         </span> *@
                        @*         <span class="hide-menu">Chi tiết CTĐT</span> *@
                        @*     </a> *@
                        @* </li> *@
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-action="Index" asp-controller="Khht" aria-expanded="false">
                                <span>
                                    <iconify-icon icon="solar:bookmark-square-minimalistic-bold-duotone" class="fs-6"></iconify-icon>
                                </span>
                                <span class="hide-menu">Quản lý KHHT</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-action="Index" asp-controller="MonHoc" aria-expanded="false">
                                <span>
                                    <iconify-icon icon="solar:bookmark-square-minimalistic-bold-duotone" class="fs-6"></iconify-icon>
                                </span>
                                <span class="hide-menu">Quản lý Môn học</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-action="Index" asp-controller="Thoigiandangki" aria-expanded="false">
                                <span>
                                    <iconify-icon icon="solar:bookmark-square-minimalistic-bold-duotone" class="fs-6"></iconify-icon>
                                </span>
                                <span class="hide-menu">Mở đăng ký KHHT</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-action="Index" asp-controller="Xettotnghiep" aria-expanded="false">
                                <span>
                                    <iconify-icon icon="solar:bookmark-square-minimalistic-bold-duotone" class="fs-6"></iconify-icon>
                                </span>
                                <span class="hide-menu">Xét tốt nghiệp</span>
                            </a>
                        </li>
                    </ul>
                    
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!--  Sidebar End -->
        <!--  Main wrapper -->
        <div class="body-wrapper">


            <!-- Header Start -->
            <header class="app-header">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <ul class="navbar-nav">
                        <li class="nav-item d-block d-xl-none">
                            <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                                <i class="ti ti-menu-2"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            @* <a class="nav-link nav-icon-hover" href="javascript:void(0)"> *@
                            @*     <i class="ti ti-bell-ringing"></i> *@
                            @*     <div class="notification bg-primary rounded-circle"></div> *@
                            @* </a> *@
                        </li>
                    </ul>
                    <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
                        <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
                            <li class="nav-item dropdown">
                                <a class="nav-link " href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown" aria-expanded="false">
                                    @{
                                        var avatar = User.FindFirst("Avatar")?.Value ?? "~/images/avt.jpg";
                                    }
                                    <img src="@Url.Content(avatar)"
                                         alt="Avatar"
                                         width="35" height="35"
                                         class="rounded-circle me-2" />

                                    <div> @User.Identity.Name</div>

                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                                    <div class="message-body">
                                        <a class="d-flex align-items-center gap-2 dropdown-item" asp-action="Logout" asp-controller="Admin" aria-expanded="false">
                                            <i class="ti ti-user fs-6"></i>
                                            <p class="mb-0 fs-3">Logout</p>
                                        </a>
                                        @* <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item"> *@
                                        @*     <i class="ti ti-mail fs-6"></i> *@
                                        @*     <p class="mb-0 fs-3">My Account</p> *@
                                        @* </a> *@
                                        @* <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item"> *@
                                        @*     <i class="ti ti-list-check fs-6"></i> *@
                                        @*     <p class="mb-0 fs-3">My Tasks</p> *@
                                        @* </a> *@
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>

            <!--  Header End -->
            <main style="padding-top: 80px; ">
                @RenderBody()

            </main>
        </div>
    </div>
    @RenderSection("Scripts", required: false)

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>

