@model QLSV.Models.CtKhht

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_layoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>CtKhht</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiMh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiMh)
        </dd>
       
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaKhhtNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaKhhtNavigation.MaKhht)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaMhNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaMhNavigation.MaMh)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
