@model QLSV.Models.CtCtdt

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_layoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>CtCtdt</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiMh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiMh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaCtdtNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaCtdtNavigation.MaCtdt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaHkNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaHkNavigation.MaHk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaMhNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaMhNavigation.MaMh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNhNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNhNavigation.MaNh)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
